*{
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
}
.custom-navbar {
  background-color: #007bff; 
  padding: 0.8rem 1.5rem;
  border-bottom: 2px solid #007bff;
  
}
.text-fluor:hover {
  color: white;
}
.text-fluor {
  color: #007bff;
  text-decoration: none;

}
ul {
  min-width: 450px;
  margin: 2rem ;
  padding: 1rem;
}

li {
  margin-bottom: 1rem;
  padding: 1rem;
  background: #ddd;
  border: 1px solid #007bff;
  border-radius: 8px;
  box-shadow: 0 0 10px #00ffe733;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
